h1{
    color: rgb(224,40,70)
}


div {
    background-color: rgb(192,192,192);
    color:sandybrown
    

}
body{
    background-color: rgb(255, 203, 90);
}












div {
    background-color: rgb(50, 200, 65);
    width: 200px;
}
.DivMorado{
    background-color: mediumpurple;
}
.divUnico{
    background-color: lightcyan;
}

#dibujo{
    width: 40vw;
    height: 40vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara {
    width: 60%;
    height: 60%;
    background-color: rgba(255, 203, 90, 0.66);
    border-radius: 50%;
    position: relative;
}

.ojos {
    width: 20%;
    height: 30%;
    background-color: rgb(31, 231, 211);
    border-radius: 50%;
    position: absolute;
}
#ojoizq {
    top:20%;
    left: 25%;
}
#ojoDer {
    top:20%;
    right: 25%;
}
.boca {
    width: 50%;
    height: 20%;
    background-color: rgb(231, 31, 31);
    border-radius: 0 0 50% 50%;
    position: absolute;
    bottom: 20%;
    left: 25%;
}
.nariz {
    width: 15%;
    height: 15%;
    background-color: rgba(255, 203, 90, 0.848);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 42.5%;
}
.pupilas {
    width: 50%;
    height: 50%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}   
#pupilaIzq {
    top: 20%;
    left: 25%;
}
#pupilaDer {
    top: 25%;
    left: 20%;
}
.orejas {
    width: 20%;
    height: 30%;
    background-color: rgba(255, 203, 90, 0.939);
    border-radius: 50%;
    position: absolute;
}
#orejaIzq {
    top: 20%;
    left: -10%;
}
#orejaDer {
    top: 20%;
    right: -10%;
}